{% macro menu(page) %}
    {% for p in page.children %}
        {% if p.visible and not p.active %}
            {% set current_page = (p.active or p.activeChild) ? 'active' : '' %}
            <ul class="menu">
                <li class="menu-content">
                    <h2><a href="{{ p.url }}">
                        {% if p.header.icon %}<i class="fa fa-{{ p.header.icon }}"></i>{% endif %}
                        {{ p.menu }}
                    </a></h2>
                    {% if p.children.count > 0 %}
                        <ul>
                            {{ _self.submenu(p) }}
                        </ul>
                    {% endif %}
                </li>
            </ul>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro submenu(page) %}
    {% for p in page.children %}
        {% if p.visible and not p.active %}
            <li>
                <a href="{{ p.url }}">
                    {% if p.header.icon %}<i class="fa fa-{{ p.header.icon }}"></i>{% endif %}
                    {{ p.menu }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
{% endmacro %}

<div class="modular-row menus big">
    {{ content }}

    <div class="menu-items">

        {{ _self.menu(page.parent.parent) }}

    </div>
</div>
