<div class="modular-row team">
    {{ content }}
    <div class="members">
        {% for member in page.header.members %}
          {% set office = page.find('/about/locations/' ~ member.office) %}
          {% set shortaddress = member.address.region %}
          {% set fulladdress = member.address.street ~ " " ~ member.address.city ~ " " ~ member.address.region  ~ " " ~ member.address.postcode  ~ " " ~ member.address.country %}
          {% set firstname = member.name|split(" ")|first %}
          
          {% if member.image %}
            {% set profileimage      =  page.media[member.image].cropResize(226,300).quality(80).url %}
            {% set profileimagemodal =  page.media[member.image].cropResize(400,290).quality(80).url %}
          {% endif %}
          {% if member.placeholder_image %}
            {% set profileimage      =  page.find('/images').media[member.placeholder_image].cropResize(226,300).quality(80).url %}
            {% set profileimagemodal =  page.find('/images').media[member.placeholder_image].cropResize(400,290).quality(80).url %}
          {% endif %}
          {% set modalid = random() %}

          <div class="member g-grid pure-g-r">
              <div class="profile-picture g-block size-1-2 pure-u-1-2">
                <a href="#teammemberModal{{ modalid }}" class="member-link" data-toggle="modal">
                <img src="{{ profileimage }}" width="113" height="150" alt="{{ member.name }}">
                </a>
              </div>
              <div class="g-block pure-u-1-2">
                <h4><a href="#teammemberModal{{ modalid }}" class="member-link" data-toggle="modal">{{ member.name }}</a></h4>
                <span>{{ member.title }}</span>
              </div>
          </div>
          <div class="teammember-modal modal" id="teammemberModal{{ modalid }}" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-content">
                  <div class="close-modal" data-dismiss="modal"><i class="fa fa-times"></i></div>
                  <div class="modal-body">
                      <img src="{{ profileimagemodal }}" class="img-responsive" alt="{{ portfolio.alt }}">
                      <h1>{{ member.name }}</h1>
                      <h3>{{ member.title }} </h3>
                      <ul class="contact-icons">
                          <li><i class="fa fa-map-marker"></i> <a href="{{ office.header.office.url }}">{{ office.title  }}</a> </li>
                          {% if member.email %}
                          <li><i class="fa fa-envelope"></i> <a href="mailto:{{ member.email|safe_email }}">Email {{ member.name|split(" ")|first }}</a> </li>
                          {% endif %}
                          {% if member.contact %}
                          <li><i class="fa fa-envelope"></i> <a href="{{ member.contact }}">Contact {{ member.name|split(" ")|first }}</a> </li>
                          {% endif %}
                          <li><i class="fa fa-phone"></i> <a href="tel:{{ office.header.office.phone }}">{{ office.header.office.phone }}</a></li>
                      </ul>
                      <p class="bio">{{ member.bio|markdown }}</p>
                      <button type="button" class="button-secondary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                  </div>
              </div>
          </div>
        {% endfor %}
    </div>
    <div class="callout-line"></div>

</div>
