<div class="text-and-lightbox-wrapper g-grid pure-g-r">
    <div class="overview-text g-block pure-u-2-3">
     {{ page.content }}
    </div>
    <div class="overview-lightbox g-block size-1-3 pure-u-1-3">
    {% set lightbox = page.header.featherlight %}
    <a rel="lightbox" data-width="{{ lightbox.width }}" data-height="{{ lightbox.height }}" href="{{ page.media[lightbox.image].cropResize(1024,1449).url }}">
        <div class="lightbox-link">
            {{ page.media[lightbox.image].display('thumbnail').html('lightbox',lightbox.alt,'lightbox') }}
        </div>
        <div class="lightbox-link-hover"><i class="fa fa-plus-square"></i></div>
    </a>
    {{ page.media[lightbox.image].html('Lightbox',lightbox.alt,'no-lightbox') }}
    {% if lightbox.download %}
    <div class="lightbox-download"><a href="{{ page.media[lightbox.download].url }}" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Download</a></div>
    {% endif %}
    </div>
</div>
