
<div class="training_path_content">
{{ content }}

</div>

<div class="panel-group" id="training_paths_accordion" role="tablist" aria-multiselectable="true">
  {% for pathway in page.collection %}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading_{{ pathway.slug }}">
      <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#training_paths_accordion" href="#collapse_{{ pathway.slug }}" aria-expanded="true" aria-controls="collapse_{{ pathway.slug }}">
        <h4 class="panel-title">
          {{ pathway.header.title }}
        </h4>
      </a>
    </div>
    <div id="collapse_{{ pathway.slug }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_{{ pathway.slug }}">
      <div class="panel-body">
        <div class="training-path-summary g-grid pure-g-r">
          <div class="training-path-description g-block pure-u-1-2">
            {{ pathway.content }}
            <div class="training-path-actions">
              {% for button in pathway.header.buttons %}
              <a class="button{% if button.style %} {{ button.style }}{% endif %}" href="  {% if "base_url:" in button.url %}{{ base_url_absolute }}/{{ button.url|replace({"base_url:": ""}) }}{% else %}{{ button.url }}{% endif %}">{% if button.icon %}<i class="fa {{ button.icon }}"></i> {% endif %}{{ button.text }}</a>
              {% endfor %}
            </div>
          </div>
          <div class="training-path-list g-block size-1-2 pure-u-1-2">
            <ol>
              {% for course in taxonomy.findTaxonomy( { 'category': 'courses', 'training_paths': pathway.slug } ).order('folder', 'asc')  %}
                <li>{{ course.title }}</li>
              {% endfor %}
            </ol>
          </div>
        </div>

        <div class="salvattore-grid" data-columns>
        {% set counter = 1 %}
        {% for course in taxonomy.findTaxonomy( { 'category': 'courses', 'training_paths': pathway.slug } ).order('folder', 'asc')  %}
          <div class="training-paths-course" id="{{ pathway.slug }}-{{ course.slug }}">
            <h4><a href="{{ course.link }}">{{ counter}}. {{ course.title }}</a></h4>
            <p>{{ course.summary }}</p>
            <a href="{{ course.link }}" class="button button-secondary button-small"><i class="fa fa-book" aria-hidden="true"></i> Read more</a>
          </div>
          {% set counter = counter + 1 %}
        {% endfor %}
        </div>
        <div><a href="#heading_{{ pathway.slug }}"><i class="fa fa-chevron-up" aria-hidden="true"></i> Back to top</a></div>
      </div>
    </div>
  </div>
  
  {% endfor %}
</div>
