<div class="modular-row brag {{ page.header.class}}">
  <div class="g-grid">
    <div class="g-block">
      <div class="video-container">
        <iframe src="//www.youtube-nocookie.com/embed/{{ page.header.video }}?autohide={{ page.header.autohide }}&amp;rel={{ page.header.related }}&amp;showinfo={{ page.header.showinfo }}" frameborder="0" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>
  {{ content }}
</div>
