<div class="modular-row youtube {{ page.header.class}}">
  <hr>
  <h2>{{ page.header.title }}</h2>
  <div class="g-grid">
    <div class="g-block">
      <div class="video-container">
        <iframe src="//www.youtube-nocookie.com/embed/{{ page.header.video }}?autohide={{ page.header.autohide }}&rel={{ page.header.related }}&showinfo={{ page.header.showinfo }}&vq=hd720" width="1280" height="720" frameborder="0" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>
  {{ content }}
</div>
