{% if page.header.navigation.maxdepth %}
  {% set maxdepth = page.header.navigation.maxdepth %}
{% else %}
  {% set maxdepth = config.site.navigation.maxdepth %}
{% endif %}
{% set depth = 1 %}

{% macro loop(page, maxdepth, depth) %}
    {% for p in page.children %}
        {% if p.visible %}
            {% set current_page = (p.active or p.activeChild) ? 'active' : '' %}
            {% if depth < maxdepth %}
            <li tabindex="0" class="{{ current_page }} onclick-menu">
            {% else %}
            <li class="{{ current_page }}">
            {% endif %}
              {% if p.children.count > 0 and depth == 1 %}
                <a> 
                    {{ p.menu }} {% if depth < maxdepth %}<i class="fa fa-caret-down"></i>{% endif %}
                </a>
              {% else %}
                <a href="{{ p.url }}"> 
                    {{ p.menu }}
                </a>
              {% endif %}
                {% if p.children.count > 0 and depth < maxdepth %}
                    <ul class="onclick-menu-items">
                        {{ _self.loop(p, maxdepth, (depth + 1)) }}
                    </ul>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
{% endmacro %}

<ul class="navigation">
    <a href="{{ base_url_absolute }}" class="sb-home" aria-label="home" title="home"><i class="fa fa-home"></i></a>
    <a href="javascript:void(0);" class="sb-close" aria-label="close" title="close">×</a>
    {% include 'partials/search.html.twig' %}
    {% if site.studentlogin.url %}
    <li class="sb-login">
        <a href="{{ site.studentlogin.url }}">Learn Online</a>
    </li>
    {% endif %}
    
    {% if config.themes.academydeliver.dropdown.enabled %}
        {{ _self.loop(pages, maxdepth, depth) }}
    {% else %}
        {% for page in pages.children %}
            {% if page.visible and page.slug != 'home' %}
                {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
                <li class="{{ current_page }}">
                    <a href="{{ page.url }}">
                        {% if page.header.icon %}<i class="fa fa-{{ page.header.icon }}"></i>{% endif %}
                        {{ page.menu }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% for mitem in site.menu %}
        <li>
            <a href="{{ mitem.url }}">
                {% if mitem.icon %}<i class="fa fa-{{ mitem.icon }}"></i>{% endif %}
                {{ mitem.text }}
            </a>
        </li>
    {% endfor %}
</ul>