{% if config.plugins.simplesearch.enabled %}
<div class="sidebar-content">
    <h4>Search</h4>
    {% include 'partials/simplesearch_searchbox.html.twig' %}
</div>
{% endif %}
{% if 'library' in page.taxonomy.category %}
<div class="sidebar-content">
     <h4>Visit the Library</h4>
     <ul>
     {% for country in page.header.documentlibrary %}
         <li><a href="{{ country.library_url }}">{{ country.country }}</a></li>
     {% endfor %}
     </ul>

     <h4>Visit the Media Library</h4>
     <ul>
     {% for country in page.header.medialibrary %}
         <li><a href="{{ country.library_url }}">{{ country.country }}</a></li>
     {% endfor %}
     </ul>
 </div>
{% endif %}
{### Subpage Navigation ###}
{% macro subpage_menu(page) %}

  {% if page.visible %}
    {% set current_page = (page.active) ? 'active' : '' %}
      <li class="{{ current_page }}">
        <a href="{{ page.url }}" class="external">
            {% if page.header.icon %}<i class="fa fa-{{ page.header.icon }}"></i>{% endif %}
            {{ page.menu }}
        </a>
        {% if page.active or page.activeChild %}
          <ul class="navigation">
            {% for subpage in page.children %}
            {{ dump(subpage) }}
              {{ _self.subpage_menu(subpage) }}
            {% endfor %}
          </ul>
        {% endif %}
      </li>
  {% endif %}
{% endmacro %}
{% if page.header.side_bar_menu %}
<div class="sidebar-content">
  {% for toplevelpage in pages.children %}
    {% if toplevelpage.slug in page.taxonomy.category %}
    <h4>{{ toplevelpage.title }}</h4>
    <ul class="navigation">
      {% for page in toplevelpage.children %}
        {{ _self.subpage_menu(page) }}
      {% endfor %}
    </ul>
    {% endif %}
  {% endfor %}
</div>
{% endif %}
{### Related pages menu ###}
{% if config.plugins.relatedpages.enabled and related_pages|length > 0 %}
<div class="sidebar-content">
    <h4>Related Posts</h4>
    {% include 'partials/relatedpages.html.twig' %}
</div>
{% endif %}
{% if config.plugins.random.enabled %}
<div class="sidebar-content">
	<h4>Random Article</h4>
	<a class="button" href="{{ base_url_relative }}/random"><i class="fa fa-retweet"></i> I'm Feeling Lucky!</a>
</div>
{% endif %}
{% if 'courses' in page.taxonomy.category %}
<div class="sidebar-content">
	<h4>Upcoming Training</h4>
	<ul class="weblinkstitle1">
    <li>
        <a href="http://one.harcourts.com.au/academy/UpcomingCourses.aspx" rel="nofollow">Australia Upcoming Training</a>
        </li>
    <li>
        <a href="http://one.harcourts.cn/academy/UpcomingCourses.aspx" rel="nofollow">China Upcoming Training</a>
        </li>
    <li>
        <a href="http://one.harcourts.co.id/academy/UpcomingCourses.aspx" rel="nofollow">Indonesia Upcoming Training</a>
        </li>
    <li>
        <a href="http://one.harcourts.co.nz/academy/UpcomingCourses.aspx" rel="nofollow">New Zealand Upcoming Training</a>
        </li>
    <li>
        <a href="http://one.harcourts.co.za/academy/UpcomingCourses.aspx" rel="no follow">South Africa Upcoming Training</a>
        </li>
    <li>
        <a href="http://one.harcourtsusa.com/academy/UpcomingCourses.aspx" rel="no follow">USA Upcoming Training</a>
        </li>
    </ul>
</div>
{% endif %}
