{% extends 'partials/base.html.twig' %}

{% set show_onpage_menu = header.onpage_menu == true or header.onpage_menu is null %}
{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}

{% block javascripts %}
    {% if show_onpage_menu %}
        {% do assets.add('theme://js/singlePageNav.min.js') %}
    {% endif %}
    {{ parent() }}
{% endblock %}


{% block bottom %}
    {{ parent() }}
    {% if show_onpage_menu %}
        <script>
        // singlePageNav initialization & configuration
        $('#navbar').singlePageNav({
            offset: $('#header').outerHeight(),
            filter: ':not(.external)',
            updateHash: true,
            currentClass: 'active'
        });
        </script>
    {% endif %}
{% endblock %}


{% block header_navigation %}
    {% if show_onpage_menu %}
        <ul class="navigation">

        {% macro loop(page) %}
        {% for p in page.children %}
            {% if p.visible %}
                {% set current_page = (p.active or p.activeChild) ? 'active' : '' %}
                <li class="{{ current_page }}">
                    <a href="{{ p.url }}" class="external">
                        {% if p.header.icon %}<i class="fa fa-{{ p.header.icon }}"></i>{% endif %}
                        {{ p.menu }}
                    </a>
                    {% if p.children.count > 0 %}
                        <ul>
                            {{ _self.loop(p) }}
                        </ul>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
        {% endmacro %}


        {% if config.themes.deliver.dropdown.enabled %}
            {{ _self.loop(pages) }}
        {% else %}
            {% for page in pages.children %}
                {% if page.visible %}
                    {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
                    <li class="{{ current_page }}">
                        <a href="{{ page.url }}" class="external">
                            {% if page.header.icon %}<i class="fa fa-{{ page.header.icon }}"></i>{% endif %}
                            {{ page.menu }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% for mitem in site.menu %}
            <li>
                <a href="{{ mitem.url }}">
                    {% if mitem.icon %}<i class="fa fa-{{ mitem.icon }}"></i>{% endif %}
                    {{ mitem.text }}
                </a>
            </li>
        {% endfor %}

        {% for module in page.collection() %}
            {% set current_module = (module.active or module.activeChild) ? 'active' : '' %}
            <li class="{{ current_module }}"><a href="#{{ _self.pageLinkName(module.menu) }}">{{ module.menu }}</a></li>
        {% endfor %}
         </ul>
    {% else %}
        {{  parent() }}
    {% endif %}
{% endblock %}

{% block content %}

    {% if config.plugins.breadcrumbs.enabled %}
        {% include 'partials/breadcrumbs.html.twig' %}
    {% endif %}

    <div class="content-wrapper g-grid pure-g-r">
        <div id="content" class="g-block pure-u-2-3">

          {% set page_image = page.media.images|first %}
          {% if page_image %}
            <p><img src="{{ page_image.url }}"/></p>
          {% endif %}

          {{ page.content }}

          {% if page.header.target_groups %}
            {% if page.header.target_groups|length > 1 %}
              <h2>Target Groups</h2>
              <ul>
                {% for group in page.header.target_groups %}
                  <li>{{ group }}</li>
                {% endfor %}
              </ul>
            {% else %}
              <p><strong>Target Group:</strong> {{ page.header.target_groups[0] }}</p>
            {% endif %}
          {% endif %}

          {% if page.header.course_content %}
            {% for content in page.header.course_content %}
              <h2>{{ content.title }}</h2>
              {{ content.list|markdown }}
            {% endfor %}
          {% endif %}

          {% if page.header.qualification_units %}
          <h2>Industry Qualification Units Delivered</h2>
          <ul>
          {% for unit in page.header.qualification_units %}
              <li class="qualification-unit"><a href="{{ base_url~site.qualification_unit_path~unit.id|lower }}">{{ site.qualification_units[unit.id].id }}</a> - {{ site.qualification_units[unit.id].name }}</li>
          {% endfor %}
          </ul>
          {% endif %}

          {% if page.header.core_qualification_units %}
          <h2>The Core Qualification Units You Will Achieve</h2>
          <ul>
          {% for unit in page.header.core_qualification_units %}
              <li class="qualification-unit"><a href="{{ base_url~site.qualification_unit_path~unit.id|lower }}">{{ site.qualification_units[unit.id].id }}</a> - {{ site.qualification_units[unit.id].name }}</li>
          {% endfor %}
          </ul>
          {% endif %}

          {% if page.header.course_structure %}
            <h2>Programme Structure</h2>
            <p>{{ page.header.course_structure|markdown }}</p>
          {% endif %}

          {% if page.header.elective_qualification_units %}
          <h2>
            {% if page.header.elective_qualification_units.course_name %}
              Elective Units Delivered Through
              <a href="{{ base_url~page.header.elective_qualification_units.course_link }}">
              {{ page.header.elective_qualification_units.course_name }}
              </a>
            {% else %}
              Elective Units Delivered Through This Programme
            {% endif %}
          </h2>
          <ul>
          {% for unit in page.header.elective_qualification_units.course_units %}
              <li class="qualification-unit"><a href="{{ base_url~site.qualification_unit_path~unit.id|lower }}">{{ site.qualification_units[unit.id].id }}</a> - {{ site.qualification_units[unit.id].name }}</li>
          {% endfor %}
          </ul>
          {% endif %}

          {% if page.header.course_availability %}
            <h2>Availability</h2>
            <p>{{ page.header.course_availability|markdown }}</p>
          {% endif %}

          {% if page.header.course_costs %}
            <h2>Costs</h2>
            <table>
              <thead>
                <tr>
                  <th style="width:85%">Course</th>
                  <th style="width:15%">Price</th>
                </tr>
              </thead>
              <tbody>
                {% for cost in page.header.course_costs %}
                <tr>
                  {% if cost.amount %}
                    <td>{{ cost.name }}</td>
                    <td>{{ cost.amount }}</td>
                  {% else %}
                    <td colspan="2"><strong>{{ cost.name }}</strong></td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>

            <dl class="dl-horizontal">
            {% for info in page.header.course_information %}
              <dt>{{ info.key}}</dt>
              <dd>{{ info.value }}</dd>
            {% endfor %}
            </dl>
          {% endif %}

          {% if page.header.course_information %}
            <h2>Additional Information</h2>
            <dl class="dl-horizontal">
            {% for info in page.header.course_information %}
              <dt>{{ info.key}}</dt>
              <dd>{{ info.value }}</dd>
            {% endfor %}
            </dl>
          {% endif %}

          {% if page.header.further_information %}
          {{ dump(page.header.taxonomy.region) }}
            {% if page.header.taxonomy.region %}
              {% set contactus = base_url ~ '/about-us/contact-us' ~ '/locations/' ~ page.header.taxonomy.region %}
            {% else %}
              {% set contactus = base_url ~ '/about-us/contact-us' %}
            {% endif %}
            <h2>Further Information</h2>
            <p>For all course enquiries and pricing details, please <a href="{{ contactus }}">contact us</a>.</p>
            {% if page.header.further_information|length > 10 %}
              <p>{{ page.header.further_information|markdown }}</p>
            {% endif %}
          {% endif %}

          {% if page.header.taxonomy.training_paths %}
            <h2>Training Pathways</h2>
            <p>{{ page.title }} is offered in the following Training Pathways:</p>
            <ul>
            {% for pathway in page.header.taxonomy.training_paths %}
              {% set pathwaycollection = taxonomy.findTaxonomy( { 'category': 'training_pathway', 'tag': pathway } ).order('folder', 'asc')  %}
              <li><a href="/courses/training-pathways#{{ pathwaycollection|first.slug }}">{{ pathwaycollection|first.title }}</a></li>
            {% endfor %}
            </ul>
          {% endif %}

          {% if page.header.disclaimer %}
            <h2>Disclaimer</h2>
            <blockquote><blockquote><blockquote><blockquote><blockquote><p>Harcourts are always looking for great people. However, completing our sales registration course does not mean that there will be a position available in your preferred Harcourts office.</p></blockquote></blockquote></blockquote></blockquote></blockquote>
          {% endif %}

          {% if page.header.documents %}
            <h2>Document Attachments</h2>
            <ul>
            {% for document in page.header.documents %}
              <li><a href="{{ page.url ~ "/" ~ document.url }}" target="_blank">{{ document.name }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}

          {% for module in page.collection() %}
              <div id="{{ _self.pageLinkName(module.menu) }}"></div>
              {{ module.content }}
          {% endfor %}

          {% if page.header.list_subpages %}
            {% for page in page.children %}
              <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
              <p>{{ page.summary }} <a class="button-secondary" href="{{ page.url }}">Read more</a></p>
            {% endfor %}
          {% endif %}

        </div>
        <div id="sidebar" class="g-block size-1-3 pure-u-1-3">
            {% include 'partials/sidebar.html.twig' %}
        </div>
    </div>

  {% if(page.header.mautic.formid) %}
  <div class="portfolio-modal modal" id="portfolioModalForm" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal"><i class="fa fa-times"></i></div>
          <div class="modal-body">
              <h1>Register Your Interest</h1>
              <script type="text/javascript" src="//{{ config.plugins.mautic.url }}/form/generate.js?id={{ page.header.mautic.formid }}"></script>
              <script type="text/javascript">
                  {% for prefill in page.header.mautic.prefill %}
                      document.getElementById('{{ prefill.fieldid }}').value = '{{ prefill.fieldvalue }}';
                  {% endfor %}
              </script>
          </div>
      </div>
  </div>
  {% endif %}

{% endblock %}
