{% extends 'partials/base.html.twig' %}

{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}


{% block bottom %}
    {{ parent() }}
{% endblock %}


{% block header_navigation %}
    {{  parent() }}
{% endblock %}

{% block content %}

{% set header_image = page.media.images|first %}

    {% if config.plugins.breadcrumbs.enabled %}
    {% include 'partials/breadcrumbs.html.twig' %}
    {% endif %}

    <div class="content-wrapper g-grid pure-g-r">
        <div id="content" class="g-block">
            {{ page.content }}
        </div>
    </div>
{% endblock %}
