{% extends 'partials/base.html.twig' %}

{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}


{% block bottom %}
    {{ parent() }}
{% endblock %}

{% block content %}

    {% if config.plugins.breadcrumbs.enabled %}
        {% include 'partials/breadcrumbs.html.twig' %}
    {% endif %}

    <div class="content-wrapper g-grid pure-g-r">
        <div id="content" class="g-block pure-u-1-1">
          {% set page_image = page.media.images|first %}
          {% if page_image %}
            <p><img src="{{ page_image.url }}"/></p>
          {% endif %}

          {{ page.content }}

          <div class="panel-group" id="faq_accordion" role="tablist" aria-multiselectable="true">
            {% for faq in page.children %}
            {% set collapsedclass = 'collapsed' %}
            {% set openclass = '' %}
            {% if uri.param('faq') == faq.slug %}
                {% set collapsedclass = '' %}
                {% set openclass = 'in' %}
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="{{ faq.slug }}">
                <a class="accordion-toggle {{ collapsedclass }}" role="button" data-toggle="collapse" data-parent="#faq_accordion" href="#collapse_{{ faq.slug }}" aria-expanded="true" aria-controls="collapse_{{ faq.slug }}">
                    <h4 class="panel-title">{{ faq.header.title }}</h4>
                </a>
                </div>
                <div id="collapse_{{ faq.slug }}" class="panel-collapse collapse {{ openclass }}" role="tabpanel" aria-labelledby="{{ faq.slug }}">
                  <div class="panel-body">
                    {% for question in faq.children %}
                      {% if question.published %}
                        <div>{{ question.content }}</div>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
            </div>
            
            {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
