{% extends 'partials/base.html.twig' %}

{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}


{% block bottom %}
    {{ parent() }}
{% endblock %}


{% block header_navigation %}
    {{  parent() }}
{% endblock %}

{# Don't include the showcase block #}
{% block showcase %}
{% endblock %}

{% block content %}
    {{ page.content }}
    {% for module in page.collection() %}
        <div id="{{ _self.pageLinkName(module.menu) }}"></div>
        {{ module.content }}
    {% endfor %}
{% endblock %}
