{% extends 'partials/base.html.twig' %}

{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}


{% block bottom %}
    {{ parent() }}
{% endblock %}

{% block content %}

    {% if config.plugins.breadcrumbs.enabled %}
        {% include 'partials/breadcrumbs.html.twig' %}
    {% endif %}

    <div class="content-wrapper g-grid pure-g-r">
        <div id="sidebar" class="g-block size-1-3 pure-u-1-3">
          {% include 'partials/sidebar.html.twig' %}
        </div>
        <div id="content" class="g-block pure-u-2-3">
          {% if page.header.header_title is defined %}
          <h1>{{ page.title }}</h1>
          {% endif %}

          {% set page_image = page.media.images|first %}
          {% if page_image %}
              <p><img src="{{ page_image.url }}"/></p>
          {% endif %}

          {{ page.content }}

          {% for button in page.header.buttons %}
            <a class="button{% if button.primary %} primary{% endif %}" href="  {% if "base_url:" in button.url %}{{ base_url_absolute }}/{{ button.url|replace({"base_url:": ""}) }}{% else %}{{ button.url }}{% endif %}">{% if button.icon %}<i class="fa {{ button.icon }}"></i> {% endif %}{{ button.text }}</a>
          {% endfor %}

          {% if page.header.course_information %}
            <h2>Additional Information</h2>
            <dl class="dl-horizontal">
            {% for info in page.header.course_information %}
              <dt>{{ info.key}}</dt>
              <dd>{{ info.value }}</dd>
            {% endfor %}
            </dl>
          {% endif %}


          {% for module in page.collection() %}
            {% if module.routable == false %}
              <div id="{{ _self.pageLinkName(module.menu) }}"></div>
              {{ module.content }}
            {% endif %}
          {% endfor %}

          {% if page.header.list_subpages %}
            {% for subpage in page.collection %}

              {% if page != subpage %}

              {% if (subpage.header.include_page) %}
                {% set subpageurl = subpage.url %}
                {% set subpage = page.find(subpage.header.include_page) %}
              {% else %}
                {% set subpageurl = subpage.url %}
              {% endif %}

              <section class="subpage-item">

                  {% set banner = subpage.media.images|first %}

                  {% if banner %}
                  <div class="subpage-image">
                      <a href="{{ subpageurl }}">{{ banner.display('thumbnail').cropZoom(100,100).html }}</a>
                  </div>
                  {% endif %}

                  {% if subpage.routable %}

                      <h3><a href="{{ subpageurl }}">{{ subpage.title }}</a></h3>
                      {% if page.header.list_subpage_dates %}
                      <div class="subpage-date">
                          {{ subpage.date|date(config.system.pages.dateformat.short) }}
                      </div>
                      {% endif %}
                      <div>{{ subpage.summary }} <a class="{{- subpage.header.readmore_label ? "button" : "button-secondary" }}" href="{{ subpageurl }}">
                        {{- subpage.header.readmore_label ? subpage.header.readmore_label : "Read more" -}}
                      </a></div>
                  {% else %}
                    {% for route_from, route_to in site.routes %}
                      {% if subpage.route == route_from %}
                        {% set page_to = subpage.find(route_to) %}
                        <h3><a href="{{ page_to.url }}">{{ page_to.title }}</a></h3>
                        <p>{{ page_to.summary }} <a class="{{- subpage.header.readmore_label ? "button" : "button-secondary" }}" href="{{ page_to.url }}">
                          {{- subpage.header.readmore_label ? subpage.header.readmore_label : "Read more" -}}
                        </a></p>
                      {% endif %}
                    {% endfor %}
                  {% endif %}

                  <hr/>

              </section>
                {% endif %}

            {% endfor %}
          {% endif %}

        </div>
    </div>

    {% if(page.header.mautic.formid) %}
    <div class="portfolio-modal modal" id="portfolioModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal"><i class="fa fa-times"></i></div>
            <div class="modal-body">
                <h1>Register Your Interest</h1>
                <script type="text/javascript" src="//{{ config.plugins.mautic.url }}/form/generate.js?id={{ page.header.mautic.formid }}"></script>
                <script type="text/javascript">
                    {% for prefill in page.header.mautic.prefill %}
                        document.getElementById('{{ prefill.fieldid }}').value = '{{ prefill.fieldvalue }}';
                    {% endfor %}
                </script>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}
