{# This template only outputs module content. No parent page content appears. #}

{% extends 'partials/base.html.twig' %}

{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block bottom %}
    {{ parent() }}
{% endblock %}

{% block content %}

    {% if config.plugins.breadcrumbs.enabled %}
        {% include 'partials/breadcrumbs.html.twig' %}
    {% endif %}

    <div class="content-wrapper g-grid pure-g-r">
        <div id="content" class="g-block pure-u-1">

          {% for module in page.collection() %}
            {% if module.routable == false %}
              <div id="{{ _self.pageLinkName(module.menu) }}"></div>
              {{ module.content }}
            {% endif %}
          {% endfor %}

        </div>
    </div>

{% endblock %}
